body {
    margin: 0;
    padding: 0;
}
header {
    background-color: #293f50;
    color: white;
}

.date {
    float: right;
}

.head-menu {
    height: 130px;
    padding: 30px;
}

.head-button {
    height: 170px;  
}

.presentation-home {
    text-align: center;
}

.information-home {
    text-align: center;
}

.presentation {
    text-align: center;
}

.presentation-speakers {
    text-align: center;
}

.head-text {
    background: linear-gradient(to right, #A1D3B0, #F6F1D3);
    height: 170px;  
}

.navbar {
    float: right;
}
.head-title {
    font-family: 'Lato';
    width: 50%;
    display: inline-block;
}
.navbar > ul {
    list-style: none;
    float: right;
}
.navbar > ul > li {
    float: left;
    margin: 8px;
}
.main-image {
    float: left;
    margin: 50px;
}

.home-img {
    width: 300px;
}

.button {
    text-align: center;
    height: 50px;
    background-color: #293f50;
    color: white;
    border-radius: 5px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #293f50;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
}

.menu-footer {
    float: right;
}
.footer-text {
    margin: 0;
    float: left;
    padding: 20px;
}

.information-conference {
    display: inline-block
}

.conection-conference {
    float: right;
}

.img-conference {
    text-align: center;

}

.img-conference > img {
    border-radius: 50%;
    width: 45%;
}

.box-information {
    border: 1px solid;
}